<div class="container">
    <ul class="ul_card1">

        <li class="card1">
            <div class="card1__flipper">
                <div class="card1__front">
                    <p class="card1__name">
                        <br>Total</p>
                    <p class="card1__num">4</p>
                    <br>
                    <button type="submit" class="btn btn-danger">View Details</button>
                </div>
            </div>
        </li>

        <li class="card1">
            <div class="card1__flipper">
                <div class="card1__front">
                    <p class="card1__name">
                        <br>Active</p>
                    <p class="card1__num">4</p>
                    <br>
                    <button type="submit" class="btn btn-primary">View Details</button>
                </div>
            </div>
        </li>

        <li class="card1">
            <div class="card1__flipper">
                <div class="card1__front">
                    <p class="card1__name">
                        <br>Disable</p>
                    <p class="card1__num">0</p>
                    <br>
                    <button type="submit" class="btn btn-warning">View Details</button>
                </div>
            </div>
        </li>

    </ul>
</div>