<aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar card-dark">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav card-dark">
                    <ul id="sidebarnav card-dark">
                        <li class="card-dark">
                            <a href="../sensors/home" class="waves-effect"><i class="fa fa-clock-o m-r-10" aria-hidden="true"></i>Dashboard</a>
                        </li>
                        <li class="card-dark">
                            <a href="../sensors/sensor" class="waves-effect"><i class="fa fa-microchip m-r-10" aria-hidden="true"></i></i>Nodes</a>
                        </li>
                        <li class="card-dark">
                            <a href="../sensors/history" class="waves-effect"><i class="fa fa-table m-r-10" aria-hidden="true"></i>Latest Datas</a>
                        </li>
                        <li class="card-dark">
                            <a href="../sensors/report" class="waves-effect"><i class="fa fa-bar-chart m-r-10" aria-hidden="true"></i>Report</a>
                        </li>
                        <li class="card-dark">
                            <a href="../users/register" class="waves-effect"><i class="fa fa-plus m-r-10" aria-hidden="true"></i>New User</a>
                        </li>
                        
                        <li class="card-dark">
                            <a href="../sensors/weather" class="waves-effect"><i class="fa fa-cloud m-r-10" aria-hidden="true"></i>Weather</a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>